.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 30rem));
    gap: 3rem;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    width: 100%;
}

.card {
    transition: background-color 0.15s ease-in-out;
}

.card:hover {
    background-color: #E7F1FF;
}